<mat-card class="vm-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ 'VM_PAGE.NETWORK_DETAILS.FIREWALL_RULES' | translate }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="grid security-group mat-card-content-container">
      <div class="row">
        <div>{{ 'VM_PAGE.NETWORK_DETAILS.INGRESS' | translate }}</div>
        <div>{{ vm.securityGroup[0]?.ingressRules.length }}</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.NETWORK_DETAILS.EGRESS' | translate}}</div>
        <div>{{ vm.securityGroup[0]?.egressRules.length }}</div>
      </div>
    </div>
    <mat-card-actions>
      <button
        mat-icon-button
        [matTooltip]="'COMMON.EDIT' | translate"
        matTooltipPosition="above"
        (click)="onEdit(vm.securityGroup[0])"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
