<h3 class="mat-dialog-title">
  {{ title | translate }}
</h3>

<div class="mat-dialog-content">
  <mat-tab-group
    [(selectedIndex)]="displayMode"
    class="tab-switch"
  >
    <mat-tab label="{{ 'SECURITY_GROUP_SELECTOR.BUILD' | translate }}"></mat-tab>
    <mat-tab label="{{ 'SECURITY_GROUP_SELECTOR.SELECT' | translate }}"></mat-tab>
  </mat-tab-group>

  <cs-security-group-builder
    *ngIf="isModeBuilder"
    [inputRules]="savedData?.rules"
    (onChange)="onBuilderGroupChange($event)"
  ></cs-security-group-builder>

  <cs-security-group-selector
    *ngIf="isModeSelector && sharedGroups"
    [securityGroups]="sharedGroups"
    [(ngModel)]="savedData.securityGroup"
  ></cs-security-group-selector>
</div>

<div class="mat-dialog-actions">
  <button mat-button (click)="onCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>

  <button mat-button (click)="onSave()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</div>
